
<ul>
  <% @categories.each do |category| %>
    <li><%= link_to category.title, category_path(category) %></li>
  <% end %>
</ul>

<div>
  <%= link_to 'Cart', cart_path(current_cart) if current_cart %>
</div>

<ul class="item-list">
  <% @items.each do |item| %>
    <li><%= item.title %> | <%= "$%0.2f" % (item.price.to_f / 100) %> | <%= button_to 'Add to Cart', line_items_path(item_id: item)  if user_signed_in? %></li>
  <% end %>
</ul>
