<!DOCTYPE html>
<html>
<head>
  <title>RailsFlatironStore</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
  <style>
    body {
      margin-left: 25px;
      margin-top: -100px;
    }
    ul li {
      display: inline;
    }
    ul li::after {
      content: " | ";
    }

    ul:last-child::after {
      content: "";
    }

    ul:first-child::before {
      content: " | ";
    }

    .item-list li {
      display: block;
    }
    .item-list li::after {
      content: none;
    }
  </style>
</head>
<body>
  <div class="flash" >
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>
<%= render 'layouts/header' %>
<%= yield %>

</body>
</html>
